

<div class="single-card-con">
<img class="card-bg" src="../../../../../assets/abstract2.jpg">
<div class="card-inner-con">
  <div class="card-header  d-flex justify-content-between align-items-center">
    <p class="mb-0">Debit</p>
    <p class="mb-0">Bank</p>
  </div>

  <div class="card-bodyy  w-100">
       <section class=" d-flex justify-content-between align-items-center mb-3  w-100">
    <div class="digits">
      <p class="mb-0">{{sharedService?.card?.cardNumber}}</p>
    </div>
    </section>


    <section class=" d-flex justify-content-between align-items-center mb-3  w-100">
        <div class="card-expire d-flex">
      <p class="mb-0">EXPIRES: {{sharedService?.card?.cardExpire | date : 'shortDate':'M'}}</p>
      </div>
        <div class="card-cvv d-flex">
      <p class="mb-0">CVV: {{sharedService?.card?.cardCVV}}</p>
    </div>
    </section>


    <section class="d-flex justify-content-between align-items-center   mb-3  w-100">
      <div class="card-holder">
        <p class="mb-0">{{sharedService?.card?.cardHoler}}</p>
      </div>

      <div class="card-icon">
        <img src="assets/mastercard-logo.png" />
      </div>
    </section>
  </div>
</div>


</div>
